@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Poppins:wght@500&family=Roboto+Mono:wght@400;500;700&family=Ubuntu:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@600&display=swap');
*,
::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    color: rgb(255, 255, 255);
    background: rgb(29, 29, 29);
}

header {
    width: 95%;
    height: 10vh;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 2;
}

#sound {
    padding: 7px;
    background-color: #1b1b1b62;
    border-radius: 5px;
    display: flex;
    align-items: center;
    color: #fff;
}

.spotify {
    font-size: 1.2rem;
    margin: 7px;
    color: #8b64f7;
}

.on-off {
    cursor: pointer;
    margin-left: 5px;
}

#off {
    color: #8b64f7;
}

#on {
    display: none;
    color: #08fdd8;
}

.btns-container .fas {
    font-size: 2rem;
    padding: 10px;
    background-color: #1b1b1b62;
    color: #fff;
    cursor: pointer;
}

.btns-container .fas:nth-child(2) {
    display: none;
}

/* Aside Navigation */

.sidebar {
    width: 100%;
    height: 0;
    position: fixed;
    top: 0;
    left: 0;
    overflow: hidden;
    background-color: #191919;
    z-index: 1;
}

.show-nav {
    height: 100%;
    overflow: visible;
}

.sidebar-wrapper {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}

.logo-section {
    min-height: 32vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #000;
    color: #fff;
}

.logo {
    display: grid;
    place-items: center;
    text-decoration: none;
}

.logo img {
    width: 210px;
    height: auto;
}

.logo span {
    font-size: 1.7rem;
    color: #fff;
}

.logo-section > span {
    margin-top: 25px;
    font-size: 12px;
    font-family:'Roboto Mono', monospace;
}

.nav-links a {
    display: block;
    text-align: center;
    line-height: 3rem;
    text-decoration: none;
    color: #fff;
}

.nav-links a:hover {
    color: #8b64f7;
}

.nav-links a::before {
    content: '';
    width: 100%;
    height: 1px;
    position: absolute;
    left: 0;
    background-color: #2d2d2e;
}

/* Social  media */

.social-media {
    list-style: none;
    display: flex;
    margin-bottom: 30px;
}

.social-media li {
    width: 30px;
    font-size: 1.1rem;
}

.social-media li a {
    text-decoration: none;
    color: #909096;
}

.social-media li a:hover {
    color: #8b64f7;
}

#home {
    min-height: 100vh;
    display: flex;
    align-items: center;
    padding-left: 1.5rem;
}

.description h1 {
    font-size: 3.2rem;
    line-height: 50px;
    letter-spacing: -3px;
    position: relative;
}


.description .gray-descr {
    margin-top: 30px;
    color: #a2a2a3;
    letter-spacing: 3px;
    font-size: 14px;
    position: relative;
}

.contact-btn {
    margin-top: -20px;
    text-decoration: none;
    width: 100%;
    max-width: 200px;
    height: 40px;
    display: block;
    line-height: 40px;
    letter-spacing: 3px;
    position: relative;
    text-align: center;
    color: #8b64f7;
}

.contact-btn div {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    transition: all .3s ease-in-out;
}

.contact-btn span.bg {
    position: absolute;
    width: 0%;
    height: 100%;
    left: -5px;
    top: 0;
    transition: all .3s ease-in-out;
    background-color: #8b64f7;
    transform: skewX(-19deg);
}

.contact-btn:hover span.bg {
    width: 110%;
}

.contact-btn span.base {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    border: 1px solid #8b64f7;
    box-sizing: border-box;
}

.contact-btn span.text {
    font-size: 22px;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
   
}

.contact-btn:hover span.text {
   color: #1d1d1d;
}

.scroll-down {
    position: absolute;
    right: -20px;
    bottom: 3.3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transform: rotate(90deg);
    display: block;
    font-size: 14px;
}

.scroll-down span {
    display: inline-block;
    animation: scroll .5s linear infinite alternate-reverse;
}

@keyframes scroll {
    0% {
        transform: translateX(-7px);
    }

    100% {
        transform: translateX(7px);
    }

}

.scroll-down .fas {
    transform: rotate(270deg);
    margin-left: 10px;
}

 /* Portfolio */

 #portfolio {
    padding: 5rem 0 5rem 1.5rem;
    position: relative;
   }

#header {
    font-size: 2rem;
    color: #8b64f7;
    margin-bottom: 30px;
}

.portfolio-description p {
    line-height: 1.5;
    margin-bottom: 30px;
}

.contact-btn.portfolio {
    margin-top: 1.5rem;
}

.big-text {
    font-size: 12rem;
    font-weight: 700;
    position: absolute;
    color: #2d2d2e;
    left: 37%;
    bottom: -70px;
    letter-spacing: -10px;
    z-index: -999;
}

.projectswall {
    background-color: rgba(255, 255, 255, 0.1);
}

.projectswall ul {
    list-style: none;
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    flex-wrap: wrap;
}

.projectswall ul li {
    min-width: 200px;
    min-height: 211px;
    position: relative;
    overflow: hidden;
    display: list-item;
}

.projectswall .project-item {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transition: transform 0.5s, opacity 0.5s;
    transition: transform 0.5s, opacity 0.5s, -webkit-transform 0.5s;
}

.projectswall img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.projectswall ul li:hover .project-item {
    -ms-transform: scale(1.4);
    -webkit-transform: scale(1.14);
    transform: scale(1.14);
}

.projectswall ul li a.colorbox {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(/img/circle.png) no-repeat center;
    opacity: 0;
    -o-transition: all 150ms ease-out;
    -webkit-transition: all 150ms ease-out;
    transition: all 150ms ease-out;
    transform: scale(0.2);
}

.projectswall ul li:hover a.colorbox {
    transform: scale(0.6);
    opacity: 1;
}

/* About */
#about {
    padding-left: 1.5rem;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.about-description p {
    margin-bottom: 15px;
    line-height: 1.5rem;
}

#skillsCanvas {
    margin-left: 13%;
}

/* Blog section */

.blog {
    width: 85%;
    margin: 250px auto 0;
    position: relative;
}

.blog .big-text {
    font-size: 12rem;
    font-weight: bolder;
    position: absolute;
    top: -180px;
    left: 0;
}

.blog-articles {
 display: flex;
 justify-content: space-between;
 align-items: center;
 flex-direction: column;
}

.post {
    border-top: 2px solid #AD92F9;
    width: 100%;
    height: 220px;
    background-color: #1d1d1d;
    padding: 25px;
    color: #909096;
    box-shadow: 0 0 5px 5px #191919;
    margin-bottom: 30px;
}

.post-date {
    color: #AD92F9;
    font-size: 14px;
    letter-spacing: 3px;
    text-transform: uppercase;
}

.postTitle h5 a {
    font-size: 1.5rem;
    text-decoration: none;
    color: #fff;
    display: block;
    margin: 15px 0;
}

.postTitle h5 a:hover {
    color: #8b64f7;
    
}

/* Contacts section */
.contact-header {
    margin-bottom: 30px;
}

.contact p {
    line-height: 1.5rem;
}

.contact {
    width: 85%;
    margin: 0 auto;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
}

.form-input-group {
    width: 100%;
    position: relative;
}


.form-input-group input, textarea {
    width: 100%;
    height: 45px;
    outline: none;
    border: none;
    padding: 0 20px;
    margin-bottom: 5px;
    font-size: 0.957rem;
    box-shadow: 0 0 0px 1000px #2b2b2b inset;
    color: #8a8484;
 }

 .form-input-group textarea {
    height: 25vh;
    padding: 10px 20px;
 }

 .submit-btn {
    margin-top: 2rem;
    background: transparent;
    border: none;
    outline: none;
    float: right;
    display: block;
    font-size: 1rem;
    cursor: pointer;
 }

 .form-input-group input + span::after,
 .form-input-group textarea + span::after {
    content: '';
    width: 100%;
    height: 2px;
    position: absolute;
    background: #8b64f7;
    bottom: 5px;
    left: 0;
    transition: all 0.3s linear;
 }

 .form-input-group input:focus + span::after,
 .form-input-group textarea:focus + span::after {
    width: 100%;
 }

 .error input,
 .error textarea {
    border-bottom: 2px solid red;
    transition: all .2s linear;
 }

 .success input,
 .success textarea {
    border-bottom: 2px solid green;
    transition: all .2s linear;
 }

 .message {
    position: absolute;
    top: 500px;
    right: 0;
    transition: all .3s ease-in-out;
    transform: translate(100%, 50%);
    transition: all .3s linear;
 }

 .message-content {
    padding: 15px;
    background: red;
    color: #fff;
    opacity: 1;
    transition: opacity 550ms ease-in-out;
    margin-bottom: 5px;
 }

 .message-content.hide {
    opacity: 0;
 }

 .google-map {
    width: 100%;
    position: relative;
 }

 .google-map iframe {
    width: 100%;
    margin-top: 50px;
    height: 60vh;
 }

 .map-content {
    background-color: #000;
    color: #f3f3f3;
    position: absolute;
    top: 70px;
    left: 40px;
    padding: 20px;
    backdrop-filter: blur(70%);
 }

 .map-content span {
    font-size: 16px;
    margin: 5px 0;
    line-height: 1.5rem;
 }


/* Media queries */

@media screen and (min-width: 1200px) {
   header {
    justify-content: flex-end;
    align-items: flex-end;
   }
   .btns-container {
    display: none;
   }

   .sidebar {
    width: 12%;
    height: 100%;
    text-align: center;
   }
   .sidebar-wrapper {
    height: 80%;
   }
   .logo-section {
    min-height: 25vh;
   }
   .logo img {
    width: 80px;
    height: auto;
   }
   .social-media {
    margin-bottom: 0;
   }
   .social-media li {
    text-align: center;
    font-size: 1.2rem;
   }

   #home {
    padding-left: 15rem;
   }
   .description h1 {
    font-size: 6.3rem;
    line-height: 85px;
    letter-spacing: -6px;
   }
   .description .gray-descr {
    font-size: 1rem;
   }
   .scroll-down {
    bottom: 3.3rem;
   }

   #portfolio {
    padding: 5rem 0 5rem 15rem;
   }

   #home-projectswall {
    width: 85%;
    margin: 0 30px 0 auto;
    display: flex;
    flex-direction: column;
}

.portfolio-description {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.portfolio.contact-btn {
    margin-top: 25px;
    right: 30px;
}

#header {
    font-size: 2.5rem;
}
.portfolio-description p {
    width: 700px;
    font-size: 16px;
    line-height: 1.5rem;
}
.big-text {
    font-size: 22rem;
    font-weight: 700;
    left: 820px;
    top: 0;
}

.projectswall {
 position: relative;
 margin: 0 auto;
}

.projectswall ul li {
    width: 330px;
    height: 331px;
}


/* Media Q for about section */
#about {
    padding-left: 10.2rem;
    flex-direction: row;
    margin: 100px auto 0;
    width: 90%;
}

.about-description #header {
    width: 500px;
    font-size: 3rem;
}

.about-description p {
    width: 400px;
}

#skillsCanvas {
    position: relative;
    top: -450px;
    left: 510px;
}


/* Blog Media Q */

.blog {
    width: 90%;
    margin: 0 auto 40px;
}

.blog .big-text {
    font-size: 27rem;
    top: -370px;
    margin-left: 40px;
}

.blog-articles {
    width: 90%;
    margin: 0 0 0 auto;
    flex-flow: row wrap;
}

.post {
    width: 340px;
    height: 270px;
}

.postTitle h5 a {
    font-size: 1.7rem;
    line-height: 2rem;

}

/* Contacts */
.contact {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    grid-column-gap: 2.5rem;
}

.contact-form {
    width: 500px;
    margin: 0 0 0 auto;
}

.form-input-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 0.77rem;
}

.google-map iframe {
    width: 100%;
    height: 100vh;
}

}